a {
  transition: color 0.15ms;
}
a:hover {
  color: rgb(241, 161, 63);
}
.price {
  color: rgb(1, 126, 74);
}
.cart-button {
  background-color: rgba(238, 194, 0, 0.979);
  border-radius: 18px;
  border: none;
  width: 100px;
  height: 30px;
  transition: opacity 0.15ms;
}
.cart-button:hover {
  opacity: 0.8;
}
.cart-button:active {
  opacity: 0.5;
}
.buy-button {
  background-color: rgb(218, 131, 0);
  border-radius: 18px;
  border: none;
  width: 100px;
  height: 30px;
  transition: opacity 0.15ms;
}
.buy-button:hover {
  opacity: 0.8;
}
.buy-button:active {
  opacity: 0.5;
}
