input {
  margin-bottom: 8px;
  border-color: rgb(209, 206, 206);
}
.first-name,
.last-name {
  padding: 10px 25px 10px 8px;
  border-radius: 5px;
  border-width: 0.5px;
}

.email {
  display: block;
  padding: 10px 25px 10px 8px;
  border-radius: 5px;
  border-width: 0.5px;
  width: 375px;
}
button {
  padding: 10px 75px;
  background-color: rgb(0, 0, 255);
  color: white;
  border: none;
  border-radius: 5px;
  width: 410px;
}
